<mat-progress-bar class="position-fixed" style="z-index:100" mode="determinate" *ngIf="progressBarVal" value="{{progressBarVal}}"></mat-progress-bar> 

<div class="dashboard-menu-container">
    <mat-card class="mat-elevation-z8 top-card">
        <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>drag_handle</mat-icon>
        </button> -->

        {{analyticsSelected.name}}
 
    </mat-card>
    <mat-menu #menu="matMenu"> 
        <button *ngFor="let dashboard of dashboards" (click)="selectDashboard(dashboard)" mat-menu-item>{{dashboard.name}}</button>
    </mat-menu>
</div>
    
<ul class="cards-container row">
  <li *ngFor="let chart of charts" class="{{ chart.chartSize }}">
    <app-chart-card class="app-chart-card" [chart]=chart></app-chart-card>
  </li>
</ul>
