ul{
   overflow-x: hidden;
}
.dashboard-menu-container{
    padding: 15px 15px 0 15px;
 }
 
 .cards-container{
     padding: 0 15px 15px 15px;
  }
 
  .app-chart-card{
     padding-bottom: 15px;
  }

  .add{
     float: right;
  }

  .add-chart-button{
     position: fixed;
     bottom: 30px;
     right: 30px;
  }

  mat-spinner{
   margin: auto;
   margin-top: calc(50% - 150px);
  }