mat-sidenav-container{
    height: 100%;
}

mat-sidenav-container{
    /* width: 30px; */
}

mat-sidenav{
    /* background: lightslategray; */
    width: 300px;
}

.sidebar-button{
    position: absolute;
    z-index: 1000;
    margin: 22px;
}

