<app-loading></app-loading>
<!-- <app-side-bar style="width:200px!important;"></app-side-bar>
<app-top-bar class="m-0 p-0"></app-top-bar> -->


<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)] = "openedSide">
        
    </mat-sidenav>
    <mat-sidenav-content>
            <button mat-icon-button color="accent" (click)="openedSide=!openedSide" class="sidebar-button">
                <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
            </button>
            <router-outlet class="m-0 p-0"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>