<mat-progress-bar class="position-fixed" mode="determinate" *ngIf="progressBarVal" value="{{progressBarVal}}"></mat-progress-bar> 

<div class="dashboard-menu-container">
    <mat-card class="mat-elevation-z8 top-card">
        <button mat-icon-button color="accent" (click)="nav.openCloseSideBar()" class="sidebar-button bg-white">
            <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
        </button>
        {{dashboardSelected.name}}
        <div class="float-right">
          <span>home > <b>Dashboard</b></span> 
        </div>
    </mat-card>
    <mat-menu #menu="matMenu"> 
        <button *ngFor="let dashboard of dashboards" (click)="selectDashboard(dashboard)" mat-menu-item>{{dashboard.name}}</button>
    </mat-menu>
  </div>
  
  <app-dashboard-box-legend [boxes]="dataBox" ></app-dashboard-box-legend>
  <app-dashboard-line [data]="dataLine"></app-dashboard-line>
  <div class="row">
    <app-dashboard-doughnut class="col-6" [data]="dataDoughnut"></app-dashboard-doughnut>
    <app-dashboard-radar class="col-6" [data]="dataRadar"></app-dashboard-radar> 
</div>
