<div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart 
                  height = "100"
                  [datasets]="chart.datasets" 
                  [labels]="chart.labels"
                  [options]="chart.options"
                  [colors]="chart.colors"
                  [legend]="chart.show_legends" 
                  [chartType]="chart.chartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
                </canvas>
      </div>
    </div>
  </div>