<h2 mat-dialog-title>Add Analytics Chart</h2>
<div mat-dialog-content class="mat-typography">
    <mat-form-field class="example-full-width">
      <input matInput #title placeholder="Title" maxlength="45" [formControl]="titleFormControl"
              [errorStateMatcher]="matcher">
       <mat-hint align="end">{{title.value.length}} / 45</mat-hint>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Tile is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Subtitle" 
             maxlength="100"
             #subtitle
             [formControl]="subtitleTitleFormControl"
             [errorStateMatcher]="matcher">
      <mat-hint align="end">{{subtitle.value.length}} / 100</mat-hint>
      <mat-error *ngIf="subtitleTitleFormControl.hasError('required')">
        Subtitle is <strong>required</strong>
      </mat-error>
    </mat-form-field>
<br>
<div class="row">
    <mat-form-field class="col-4" >
      <mat-label>List of squares taxis</mat-label>
      <mat-select>
      <mat-option *ngFor="let square of squares" [value]="square">
      {{square}}
      </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="col-4" >
        <mat-label>List of squares taxis</mat-label>
        <mat-select>
        <mat-option *ngFor="let square of squares" [value]="square">
        {{square}}
        </mat-option>
        </mat-select>
      </mat-form-field>
    
    <mat-form-field class="col-4"> 
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <br>
  
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button color="primary" (click)="addChart()">Add</button>
</div>