<div class="footer row pr-3 pl-3">

  <div class="container col-3">
    <button mat-icon-button>
      <mat-icon matBadge="1" matBadgeColor="warn">edit</mat-icon>
    </button>
  </div>

  <div class="container col-3">
    <button mat-icon-button>
      <mat-icon matBadge="3" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
  </div>

  <div class="container col-3">
    <button mat-icon-button>
      <mat-icon matBadge="15" matBadgeColor="warn">chat_bubble_outline</mat-icon>
    </button>
  </div>

  <div class="container col-3">
    <button mat-icon-button (click)="logout()">
      <mat-icon matBadgeColor="warn">exit_to_app</mat-icon>
    </button>
  </div>

</div>